.Products table {
	margin: 0 auto;
	border-color: #009682;
	border-collapse: collapse;
	margin-bottom: 1em;
	text-align: center;
}

table tr {
	border-bottom: 1px solid #009682;
}

.table {
	width: auto;
	margin: auto;
	text-align: center;
	display: inline-block;
}


.tasks {
	margin-bottom: 4%;
	margin-left: 2%;
	margin-right: 2%;
  }

