.Container {
  border-style: solid;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18px;
  background-color: white;
  box-shadow: 1px 1px 10px, -1px -1px 10px;
  text-align: center;
}

.App {
  text-align: center;
  background-color: #f9e4b7;
  min-height: 100vh;
}

h1 {
  text-shadow: 1px -1px 1px, 1px 1px 1px;
}